---
import TargetFaq from "../TargetFaq.astro";
import faqs from "../../resources/faq.json";
import Icon from "astro-icon";
import { twMerge } from "tailwind-merge";

interface Props {
  containerClasses?: string;
}

const { containerClasses } = Astro.props;
---

<section
  class={twMerge(
    "bg-soluter-gray-500 section-padding pt-16 grid grid-rows-1 justify-center",
    containerClasses,
  )}
>
  <Icon name="blocks/question" class="item-center h-12" />
  <div class="items-center gap-0">
    <h3 class="text-center font-bold sm:px-10 lg:px-14 2xl:px-52">
      Queste sono alcune delle domande più frequenti che ci vengono poste dai
      nostri clienti: se non trovi la risposta alla tua esigenza, chiamaci per
      parlarne insieme!
    </h3>
  </div>
  <div class="mt-24 flex flex-col space-y-14 2xl:px-52">
    {
      faqs.map((faq) => (
        <TargetFaq
          title={faq.title}
          underlinedWords={faq.underlinedWords}
          paragraphs={faq.paragraphs}
        />
      ))
    }
  </div>
  <div class="mb-14 mt-20 flex flex-col items-center justify-center">
    <h3 class="flex flex-col items-center justify-center">
      <span class="text-center font-bold"
        >Ti aiutiamo a costruire step-by-step esattamente il software di cui hai
        bisogno.</span
      >
      <span class="text-center">E il primo passo è parlarne insieme.</span>
    </h3>
    <a
      href="mailto:info@soluter.it"
      class="btn mt-12 bg-soluter-purple-500 px-6 py-1 text-center text-white hover:bg-soluter-purple-500/90"
    >
      Contattaci
    </a>
  </div>
</section>
