---
import Layout from '../layouts/Layout.astro';
import logo from './../assets/logo.svg';
import { Icon } from 'astro-icon';
import Footer from '../components/Footer.astro';
---

<Layout title="Soluter.">
	<main>
		<nav class="flex justify-between p-14">
			<Icon name="logo" />
			<Icon name="menu" class="h-5 w-5" />
		</nav>
        <Footer />
	</main>
</Layout>
