---
import { Icon } from 'astro-icon';
---

<footer>
    <div class="flex flex-col items-start">
        <div class="flex items-end">
        <Icon name="logo" width="241" height="42"/>
        <div class="ml-5">
            <Icon name="blocks/box" width="36" height="35" />
        </div>    
    </div class="mt-2">
    <h1>Il software 100% custom</h1>
    </div>
</footer>
