---
import { Icon } from "astro-icon";
---

<footer
  class="flex w-full items-center border-t-[5px] border-solid border-black 2xl:h-[366px] 2xl:px-10"
>
  <div
    class="grid w-full grid-cols-2 items-center justify-center gap-2 p-8 2xl:grid-cols-4 2xl:p-1"
  >
    <div
      class="col-span-2 mt-8 flex flex-col items-center sm:ml-2 2xl:col-span-1 2xl:mt-0 2xl:items-start"
    >
      <div class="flex items-end">
        <Icon name="logo" class="flex h-[42px] w-[241px] shrink" />
        <div class="ml-5">
          <Icon name="blocks/box" width="36" height="35" class="shrink" />
        </div>
      </div>
      <div class="mt-5">
        <p class="text-[18px]">Il software 100% custom</p>
      </div>
    </div>

    <div
      class="col-span-2 mt-2 flex flex-col items-center justify-center sm:col-span-2 md:mt-0 2xl:col-span-1"
    >
      <p class="font-bold 2xl:mt-[36px]">Contattaci!</p>
      <a href="mailto:ciao@astranoto.com" target="_blank">ciao@astranoto.com</a>
    </div>

    <!-- <div
    class="grid grid-cols-2 gap-2 2xl:mt-[140px] 2xl:grid-cols-7 2xl:grid-rows-1"
  > -->

    <div
      class="col-span-2 mt-2 flex flex-col items-center justify-center sm:col-span-2 md:mt-0 2xl:col-span-1"
    >
      <a href="/" class="font-bold 2xl:mt-[36px]">SOLUTER.IT</a>
      <p class="text-sm">sviluppato con amore da</p>
    </div>

    <div
      class="col-span-2 flex flex-col items-center 2xl:col-span-1 2xl:mt-8 2xl:items-start"
    >
      <Icon name="logo-astranoto" width="213" height="75" class="mt-4" />
      <p class="mt-2 text-sm 2xl:mt-0">Astranoto Srl Società Benefit © 2022</p>
      <p class="text-sm">Made in Bologna, Italy</p>
      <p class="text-sm">All rights reserved - P.IVA 3990791208</p>
    </div>
  </div>
</footer>
