---
import { twMerge } from "tailwind-merge";
import Collapse from "./Collapse.astro";

interface Props {
  title: string;
  underlinedWords: {
    word: string;
    class: string;
  }[];
  paragraphs: string[];
}

const { title, paragraphs, underlinedWords } = Astro.props;
---

<Collapse>
  <h4 class="mb-1 items-center text-[20px] font-bold" slot="title">
    {
      title.split(" ").map((word) => {
        const underlinedWord = underlinedWords.find(
          (underlinedWord) => underlinedWord.word === word,
        );

        if (underlinedWord) {
          return (
            <>
              <span
                class={twMerge(
                  underlinedWord.class,
                  "inline-block whitespace-nowrap",
                )}
                style="font-size: inherit;"
              >
                {word}
              </span>
            </>
          );
        }

        return `${word} `;
      })
    }
  </h4>
  <div slot="content">
    {
      paragraphs.map((paragraph) => (
        <p class="text-start" set:html={paragraph} />
      ))
    }
  </div>
</Collapse>
